# MySQL Connection Parameters (over SSH tunnel)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_NAME=your_db_name_here

# SSH Connection Parameters
SSH_HOST=35.236.219.140
SSH_PORT=52335
SSH_USER=your_ssh_user_here
SSH_PASSWORD=your_ssh_password_here