# MySQL Connection Parameters (over SSH tunnel)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=tlcplapps
DB_PASSWORD=LhRIJabtIeK98L0
DB_NAME=tlcplapps

# SSH Connection Parameters
SSH_HOST=35.236.219.140
SSH_PORT=52335
SSH_USER=tlcplapps
SSH_PASSWORD=dqJhNbzFQnm8h4G